<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    Rewritecond %{REQUEST_FILENAME} !-f
    RewriteRule (.*) /public/$1 [L,NC]
</IfModule>
