includes:
    - vendor/nunomaduro/larastan/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: max
    paths:
        - app
    tmpDir: %currentWorkingDirectory%/storage/phpstan
    checkMissingIterableValueType: false
    excludes_analyse:
        - app/Providers
        - app/Http/Middleware
    ignoreErrors:
        - '#Dynamic call to static method.*#'
